{% extends "base.html" %} {% block content %}

<dl
	class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700 grid grid-cols-3 gap-4"
>
	<div class="flex flex-col pb-3">
		<dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
			Email address
		</dt>
	</div>
</dl>

{% for client in clients%}

<a href="{% url 'clients:detail' client.pk %}"
	>- {{ client.nom }} {{client.prenom}} {{client.nom_societe}}</a
>
{% endfor %}

<p><a href="{% url 'clients:create' %}"> Creer un client</a></p>

{% endblock%}
