{% extends "base.html" %} {% block content %}
<div class="bg-gray-300 p-4 rounded-lg shadow-md">
	<h2 class="text-lg font-semibold mb-2">Modifier un utilisateur</h2>
	<form method="post" class="grid grid-cols-2 text- gap-4">
		{% csrf_token %}
		<div class="border rounded-t-lg">
			<p class="font-medium border-b pb-1 bg-indigo-500 rounded-t-lg p-3">
				Nom / Prénom:
			</p>
			{{ form.nom }} {{ form.prenom }}
		</div>
		<div class="border rounded-t-lg">
			<p class="font-medium border-b p-3 pb-1 pt-1 bg-indigo-500 rounded-t-lg">
				Email:
			</p>
			{{ form.email }}
		</div>
		<div class="border rounded-t-lg">
			<p class="font-medium border-b pb-1 bg-indigo-500 rounded-t-lg p-3">
				Numéro de téléphone:
			</p>
			{{ form.numero_telephone }}
		</div>
		<div class="border rounded-t-lg">
			<p class="font-medium border-b pb-1 bg-indigo-500 rounded-t-lg p-3">
				Fonction:
			</p>
			{{ form.fonction }}
		</div>

		<div class="col-span-2 border rounded-b-lg p-3 flex justify-end">
			<button
				class="bg-orange-500 hover:bg-orange-600 text-white py-2 px-4 rounded-lg border-2 border-orange-500 mr-2"
			>
				<a href="{% url 'clients:utilisateur-update' utilisateur.pk %}"
					>Modifier</a
				>
			</button>
			<button
				class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg border-2 border-red-500"
			>
				<a href="{% url 'clients:utilisateur-delete' utilisateur.pk %}"
					>Supprimer</a
				>
			</button>
		</div>
	</form>
</div>
{% endblock%}
